body {
	font: 20px Arial, sans-serif;
	color: white;
}

.navbar {
	background-color: #483D8B;
}

.quem-somos {
	background-color: #87CEFA;
}

.parceiros {
	background-color: #B0C4DE;
}

.servicos {
	background-color: #B0E0E6;
}

.bg-footer{
	background-color: black;
	padding-bottom: 10px;
	padding-top: 10px;
}

.margin {
	padding-top: 10px;
	padding-bottom: 50px;
}



